body {
    background-image: url("../imagenes/fondo\ cafe.jpg");
    background-size: cover;


}

.fotoprincipal {
    display: grid;
    place-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

li {
    list-style-type: none;
    color: brown;
    font-weight: bolder;
    font-size: 25px;
    border: 3px rgb(123, 72, 6) solid;
    width: 200px;
    height: 30px;
    border-radius: 30px;
    margin: 3px;
    text-align: center;
    text-justify: auto;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 15px -4px rgba(99, 68, 2, 0.66);

}

a {
    text-decoration: none;
    font-size: 15px;
    color: indianred;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

li :hover {
    background-color: beige;
    border-radius: 30px;

}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: darkorange;
    text-shadow: 0, 5px;
    color: brown;
}

.contenedor {

    display: flex;

}

.div1 {
    margin-left: 15%;
    margin-right: 15px;
    font-size: x-large;
}

.div2 {
    margin-left: 30%;
    margin-right: 50px;
    font-size: x-large;
    justify-content: center;
    text-align: center;
}